spring:
  application:
    name: eureka-server

server:
  port: 8761

eureka:
  client:
#    service-url:
#      defaultZone: http://127.0.0.1:8761/eureka/
    register-with-eureka: false
    fetch-registry: false
